# 1A

Difference between Counter.count and self._count:
Counter.count is a class variable (shared by all instances)
self.count is an instance variable (unique to each object)

# 1B

Output of a.get_counts() and b.get_counts()
a.get_counts() → Instance count: 2, Class count: 3
b.get_counts() → Instance count: 1, Class count: 3

# 1C

How does increment() affect variables?
It increases the instance variable self._count by 1.
It also increases the class variable Counter.count by 1.

# 2

In [14]:
#Bug-Free code solution
def sum_all(*args):
    return sum(args)

print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

# 3

In [8]:
def first_word(words):
    words.sort()
    return words[0]

students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']
print(first_word(students))

Bartholomew

# 4

In [12]:
class Employee:
    employee_count = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.employee_count += 1

    def average_salary(self, total_salary):
        return total_salary / Employee.employee_count

    def display(self):
        print(f"Name: {self.name}, Family: {self.family}, Salary: {self.salary}, Department: {self.department}")

class FullTimeEmployee(Employee):
    def __init__(self, name, family, salary, department):
        super().__init__(name, family, salary, department)

emp1 = FullTimeEmployee("PRATEESH", "URATI", 150000, "COMPUTER SCIENCE")
emp2 = FullTimeEmployee("VINAY REDDY", "NAGULA", 150000, "DSA")

emp1.display()
emp2.display()

total = emp1.salary + emp2.salary
print("Average Salary:", emp1.average_salary(total))

Name: PRATEESH, Family: URATI, Salary: 150000, Department: COMPUTER SCIENCE
Name: VINAY REDDY, Family: NAGULA, Salary: 150000, Department: DSA
Average Salary: 150000.0